---
import Me from '@/assets/me.webp';
import Layout from '@/layouts/index.astro';
import { buttonVariants } from '@/ui/button.astro';
import Callout from '@/ui/callout.astro';
import * as Card from '@/ui/card';
import Chip from '@/ui/chip.astro';
import * as Code from '@/ui/code';
import Date from '@/ui/date.astro';
import Icon from '@/ui/icon.astro';
import LinkHeader from '@/ui/link-header.astro';
import Link from '@/ui/link.astro';
import * as List from '@/ui/list';
import Number from '@/ui/number.astro';
import Separator from '@/ui/separator.astro';
import Text from '@/ui/text.astro';
import type { GetStaticPaths } from 'astro';
import { Image } from 'astro:assets';
import { render } from 'astro:content';
import * as env from 'astro:env/server';
import Github from './_github.astro';
import { getSortedPosts } from './_utils';

export const getStaticPaths = (async () =>
  (await getSortedPosts()).map((post, index, _posts) => {
    const prev = _posts[index + 1] ?? _posts[0];
    const next = _posts[index - 1] ?? _posts[_posts.length - 1];
    return { params: { id: post.id }, props: { post, posts: [prev!, next!] } };
  })) satisfies GetStaticPaths;

const { post, posts } = Astro.props;
const { Content } = await render(post);
---

<Layout
  title={post.data.title}
  description={post.data.description}
  og={`open-graph/src/content/posts/${post.id}.png`}
  class="mx-auto flex w-full max-w-3xl flex-col gap-14"
>
  <div class="border-gray-6 flex flex-col gap-2 border-b pb-10">
    <List.Root orientation="horizontal" class="text-gray-11 gap-6">
      <List.Item class="flex items-center gap-2">
        <Icon name="calendar" />
        <Date size="1" value={post.data.published} />
      </List.Item>
      <List.Item class="flex items-center gap-2">
        <Icon name="clock-2" />
        <Text size="1">{post.data.readingTime}</Text>
      </List.Item>
      <List.Item class="flex items-center gap-2">
        <Icon name="eye" />
        <Number size="1" value={23000} />
        <Text size="1" class="-ml-1">Views</Text>
      </List.Item>
    </List.Root>
    <Text as="h1" size="6" weight="semibold" class="tracking-tight uppercase">{post.data.title}</Text>
    <div class="mt-4 flex items-center gap-2">
      <div class="border-gray-6 size-8 overflow-hidden rounded-full border brightness-130">
        <Image src={Me} alt="Me" loading="eager" width={2048} height={1936} />
      </div>
      <div class="mr-auto">
        <Text size="1">CHRISTIAN PENROD</Text>
        <Text size="1" class="text-gray-11">Front-End Web Developer</Text>
      </div>
      <!-- prettier-ignore -->
      <List.Root orientation="horizontal">
        <List.ItemLink href={env.GITHUB} icon="github" aria-label="Github" class={buttonVariants({ variant: 'ghost', size: 'icon' })} />
        <List.ItemLink href={env.TWITTER} icon="twitter" aria-label="Twitter/X" class={buttonVariants({ variant: 'ghost', size: 'icon' })} />
        <List.ItemLink href={env.LINKEDIN} icon="linkedin" aria-label="LinkedIn" class={buttonVariants({ variant: 'ghost', size: 'icon' })} />
        <List.ItemLink href={`mailto:${env.EMAIL}`} icon="mail" aria-label="Email" class={buttonVariants({ variant: 'ghost', size: 'icon' })} />
        <List.ItemLink href={new URL('rss.xml', Astro.site)} icon="rss" aria-label="RSS" class={buttonVariants({ variant: 'ghost', size: 'icon' })} />
      </List.Root>
    </div>
  </div>
  <article
    data-pagefind-body
    data-pagefind-meta={`slug:/blog/${post.id}`}
    class="text-gray-12/80 flex max-w-prose flex-col gap-10 leading-7 [counter-reset:link-header]"
  >
    <Content
      components={{
        a: Link,
        h2: LinkHeader,
        blockquote: Callout,
        figure: Code.Root,
        figcaption: Code.Header,
        pre: Code.Content,
        code: Code.Block,
      }}
    />
  </article>
  {post.data.repo && <Github repo={post.data.repo} />}
  <Separator />
  <div class="flex flex-col gap-1">
    <Text as="h2" size="3" weight="semibold">CONTINUE READING</Text>
    <Text size="1" class="text-gray-11 mb-8">Check out some other software-related blog posts I've written.</Text>
    <div class="grid grid-cols-2 justify-between gap-10">
      {
        posts.map((post) => (
          <Card.Root as="a" href={`/blog/${post.id}`}>
            <Card.Body>
              <List.Root orientation="horizontal" class="-ml-1 gap-1">
                {post.data.topics.map((value) => (
                  <List.Item>
                    <Chip {value} variant="soft" />
                  </List.Item>
                ))}
              </List.Root>
              <Card.Title>{post.data.title}</Card.Title>
              <Card.Description>{post.data.description}</Card.Description>
            </Card.Body>
            <Card.Footer>
              <Date size="1" value={post.data.published} />
              <Icon name="dot" class="text-gray-11 size-6" />
              <Text size="1">{post.data.readingTime}</Text>
              <Icon name="dot" class="text-gray-11 size-6" />
              <Text size="1">2.3K Views</Text>
            </Card.Footer>
          </Card.Root>
        ))
      }
    </div>
  </div>
</Layout>
