---
import Me from '@/assets/me.webp';
import Layout from '@/layouts/index.astro';
import Callout from '@/ui/callout.astro';
import * as Code from '@/ui/code';
import Date from '@/ui/date.astro';
import Icon from '@/ui/icon.astro';
import LinkHeader from '@/ui/link-header.astro';
import Link from '@/ui/link.astro';
import * as List from '@/ui/list';
import Number from '@/ui/number.astro';
import Separator from '@/ui/separator.astro';
import Text from '@/ui/text.astro';
import type { GetStaticPaths } from 'astro';
import { Image } from 'astro:assets';
import { render } from 'astro:content';
import { getSortedPosts } from './_utils';

export const getStaticPaths = (async () =>
  (await getSortedPosts()).map((post, index, _posts) => {
    const prev = _posts[index + 1] ?? _posts[0];
    const next = _posts[index - 1] ?? _posts[_posts.length - 1];
    return { params: { id: post.id }, props: { post, prev, next } };
  })) satisfies GetStaticPaths;

const { post } = Astro.props;
const { Content } = await render(post);
---

<Layout title={post.data.title} description={post.data.description} og={`open-graph/src/content/posts/${post.id}.png`}>
  <article class="flex flex-col items-center gap-14">
    <div class="text-gray-11 flex max-w-3xl flex-col gap-2">
      <List.Root orientation="horizontal" class="gap-6">
        <List.Item class="flex items-center gap-2">
          <Icon name="calendar" />
          <Date value={post.data.published} />
        </List.Item>
        <List.Item class="flex items-center gap-2">
          <Icon name="clock-2" />
          <Text>{post.data.readingTime}</Text>
        </List.Item>
        <List.Item class="flex items-center gap-1">
          <Icon name="eye" />
          <Text><Number value={23000} /> Views</Text>
        </List.Item>
      </List.Root>
      <Text as="h1" size="7" weight="semibold" class="text-gray-12 uppercase">{post.data.title}</Text>
      <div class="mt-2 flex items-center gap-2">
        <div class="border-gray-6 size-6 overflow-hidden rounded-full border brightness-200">
          <Image src={Me} alt="Me" loading="eager" width={2048} height={1936} />
        </div>
        <Text size="1">CHRISTIAN PENROD</Text>
      </div>
    </div>
    <Separator />
    <div
      data-pagefind-body
      data-pagefind-meta={`slug:/blog/${post.id}`}
      class="text-gray-12/90 flex max-w-prose flex-col gap-10 leading-8"
    >
      <Content
        components={{
          a: Link,
          h2: LinkHeader,
          blockquote: Callout,
          figure: Code.Root,
          figcaption: Code.Header,
          pre: Code.Content,
          code: Code.Block,
        }}
      />
    </div>
  </article>
</Layout>
