---
import Me from '@/assets/me.webp';
import Layout from '@/layouts/layout.astro';
import { getSortedPosts } from '@/libs/content';
import Badge from '@/ui/badge.astro';
import Button, { buttonVariants } from '@/ui/button.astro';
import * as Card from '@/ui/card';
import * as Code from '@/ui/code';
import Collapsible from '@/ui/collapsible.astro';
import Date from '@/ui/date.astro';
import Icon from '@/ui/icon.astro';
import LinkHeader from '@/ui/link-header.astro';
import Link from '@/ui/link.astro';
import Note from '@/ui/note.astro';
import Separator from '@/ui/separator.astro';
import * as TableOfContents from '@/ui/table-of-contents';
import Text from '@/ui/text.astro';
import type { GetStaticPaths } from 'astro';
import { Image } from 'astro:assets';
import { render, type CollectionEntry } from 'astro:content';
import * as env from 'astro:env/server';
import { tv } from 'tailwind-variants';
import PostGithub from './_github.astro';
import PostViews from './_views.astro';

type Post = CollectionEntry<'posts'>;
type Props = { post: Post; prev: Post; next: Post };

const social = buttonVariants({ size: 'icon', color: 'ghost', class: '[&_svg]:size-3.5 size-6' });
const text = tv({ base: '[&>p]:text-foregroun_:wd-1/85 [&here(p,aside)_a]:underline' });
const list = tv({ base: '[&_ol]:list-decimal [&_ol]:list-inside [&_li]:list-disc [&_li]:list-inside' });

export const getStaticPaths: GetStaticPaths = async () =>
  getSortedPosts().then((posts) =>
    posts.map((post, index, _posts) => {
      const prev = _posts[index + 1] ?? _posts[0];
      const next = _posts[index - 1] ?? _posts[_posts.length - 1];
      return { params: { id: post.id }, props: { post, prev, next } };
    }),
  );

const { post, prev, next } = Astro.props;
const { remarkPluginFrontmatter, headings, Content } = await render(post);
---

<Layout
  title={post.data.title}
  description={post.data.description}
  og={`open-graph/src/content/posts/${post.id}.png`}
  class="mx-auto max-w-2xl lg:grid lg:max-w-screen-xl lg:gap-16 lg:px-16 xl:grid-cols-[1fr_18rem]"
>
  <article>
    <Text as="h1" class="text-3xl uppercase">{post.data.title}</Text>
    <div class="mt-4 flex flex-wrap items-center gap-4">
      <Badge><Icon name="calendar" /><Date value={post.data.published} /></Badge>
      <Badge><Icon name="clock-4" />{remarkPluginFrontmatter.readingTime}</Badge>
      <PostViews server:defer id={post.id} />
    </div>
    <Separator class="my-4 lg:my-8" />
    <Collapsible class="lg:hidden">
      <Button slot="collapsible-trigger" color="ghost" id="table-of-contents-mobile">
        <Icon name="chevron-right" class="motion-safe:transition-transform" :class="expanded && 'rotate-90'" />
        <Text>TABLE OF CONTENTS</Text>
      </Button>
      <TableOfContents.Root class="px-10 py-2" aria-labelledby="table-of-contents-mobile">
        <TableOfContents.Links>
          <TableOfContents.Link {...{ slug: 'introduction', text: 'Introduction' }} />
          {headings.map((heading) => <TableOfContents.Link {...heading} />)}
        </TableOfContents.Links>
      </TableOfContents.Root>
    </Collapsible>
    <Separator class="my-4 lg:hidden" />
    <div
      data-pagefind-body
      data-pagefind-meta={`slug:/blog/${post.id}`}
      class:list={['flex max-w-[70ch] flex-col gap-8 leading-7', text(), list()]}
    >
      <Content
        components={{
          h2: LinkHeader,
          a: Link,
          blockquote: Note,
          figure: Code.Root,
          figcaption: Code.Header,
          pre: Code.Content,
          code: Code.Block,
        }}
      />
      {post.data.repo && <PostGithub repo={post.data.repo} />}
      <Text as="h2" id="introduction" class="sr-only">Introduction</Text>
    </div>
    <Separator class="mt-16 mb-8" />
    <div class="flex flex-col gap-6">
      <Text as="h3">MORE POSTS</Text>
      <ul class="grid gap-x-10 gap-y-6 md:grid-cols-2">
        {
          [prev, next].map((post) => (
            <li>
              <Card.Root as="a" href={`/blog/${post.id}`} aria-label={`${post.data.title}. ${post.data.description}`}>
                <Card.Header />
                <Card.Body>
                  <Text class="group-hover:text-brand text-sm motion-safe:transition-colors">{post.data.title}</Text>
                  <Text class="text-foreground-2 flex-1 text-xs">{post.data.description}</Text>
                </Card.Body>
                <Card.Footer>
                  <div class="text-foreground-2 flex items-center gap-2">
                    <Icon name="calendar" class="size-3.5" />
                    <Date value={post.data.published} />
                  </div>
                  <div class="text-foreground-2 flex items-center gap-2">
                    <Icon name="clock-4" class="size-3.5" />
                    <Text>{render(post).then((res) => res.remarkPluginFrontmatter.readingTime)}</Text>
                  </div>
                </Card.Footer>
              </Card.Root>
            </li>
          ))
        }
      </ul>
    </div>
  </article>
  <aside class="border-border sticky top-20 hidden h-max rounded border p-4 shadow-sm lg:block">
    <TableOfContents.Root aria-labelledby="table-of-contents-desktop">
      <TableOfContents.Title id="table-of-contents-desktop">TABLE OF CONTENTS</TableOfContents.Title>
      <TableOfContents.Links>
        <TableOfContents.Link {...{ slug: 'introduction', text: 'Introduction' }} />
        {headings.map((heading) => <TableOfContents.Link {...heading} />)}
      </TableOfContents.Links>
    </TableOfContents.Root>
    <Separator class="my-4" />
    <div class="flex items-center gap-4">
      <div class="border-border size-14 shrink-0 rounded border shadow-sm">
        <Image src={Me} alt="Me" loading="eager" class="brightness-150 grayscale dark:brightness-100" />
      </div>
      <div class="flex flex-col gap-px">
        <div class="flex flex-col pl-2 text-xs">
          <Text class="leading-none font-medium">CHRISTIAN PENROD</Text>
          <Text class="text-foreground-2">Front-End Web Developer</Text>
        </div>
        <ul class="text-foreground-2 flex [&_[data-external-icon]]:hidden">
          <li><Link href={env.GITHUB} aria-label="Github" icon="github" class={social} /></li>
          <li><Link href={env.TWITTER} aria-label="Twitter" icon="twitter" class={social} /></li>
          <li><Link href={env.LINKEDIN} aria-label="LinkedIn" icon="linkedin" class={social} /></li>
          <li><Link href={`mailto:${env.EMAIL}`} aria-label="Email" icon="mail" class={social} /></li>
          <li><Link href={new URL('rss.xml', Astro.site)} aria-label="RSS" icon="rss" class={social} /></li>
        </ul>
      </div>
    </div>
  </aside>
</Layout>
