---
import Anchor from '@components/Anchor.astro';
import Date from '@components/Date.astro';
import GithubCard from '@components/GithubCard.astro';
import PostSubheader from '@components/PostSubheader.astro';
import PostTweet from '@components/PostTweet.astro';
import Layout from '@layouts/Layout.astro';
import { CollectionEntry, getCollection } from 'astro:content';
import { ArrowLeft, ArrowRight, Calendar, Clock } from 'lucide-preact';

export const getStaticPaths = async () => {
  return getCollection('posts').then((posts) =>
    posts
      .sort((a, b) => b.data.published.valueOf() - a.data.published.valueOf())
      .map((post, index, _posts) => {
        const prev = _posts[index + 1] ?? _posts[0];
        const next = _posts[index - 1] ?? _posts[_posts.length - 1];
        return { params: { slug: post.slug }, props: { post, prev, next } };
      }),
  );
};

type Post = CollectionEntry<'posts'>;
type Props = { post: Post; prev: Post; next: Post };

const components = { a: Anchor, h2: PostSubheader };
const { post, prev, next } = Astro.props;
const { Content, remarkPluginFrontmatter } = await post.render();
---

<Layout
  title={post.data.title}
  description={post.data.description}
  og={`og/${post.slug}.png`}
>
  <article class="mx-auto mt-fluid-3 max-w-screen-sm">
    <h1 class="mb-fluid-2 text-3xl">{post.data.title}</h1>
    <div class="flex gap-8 text-1">
      <div class="flex items-center gap-2">
        <Calendar class="w-5 h-5 stroke-brand-2" />
        <Date>{post.data.published}</Date>
      </div>
      <div class="flex items-center gap-2">
        <Clock class="w-5 h-5 stroke-brand-2" />
        <span>{remarkPluginFrontmatter.readingTime} Min Read</span>
      </div>
    </div>
    <div class="my-8 h-1 rounded-md bg-2"></div>
    <div class="flex flex-col gap-12">
      <Content components={components} />
      {post.data.repo && <GithubCard repo={post.data.repo} />}
      <div class="flex flex-wrap items-center justify-between gap-2">
        <!-- <PostViews slug={post.slug} /> -->
        <PostTweet post={post} />
      </div>
      <div class="h-1 rounded-md bg-2"></div>
      <div class="flex justify-between gap-10">
        <a href={`/blog/${prev.slug}`} class="group flex gap-4">
          <ArrowLeft class="w-8 h-8 shrink-0 stroke-brand-1" aria-hidden />
          <span class="group-hover:text-brand-2">{prev.data.title}</span>
        </a>
        <a href={`/blog/${next.slug}`} class="group flex gap-4 text-right">
          <span class="group-hover:text-brand-2">{next.data.title}</span>
          <ArrowRight class="w-8 h-8 shrink-0 stroke-brand-1" aria-hidden />
        </a>
      </div>
    </div>
  </article>
</Layout>

<!-- <style lang="scss" is:global>
  article {
    em {
      @apply tracking-wider;
    }

    pre {
      @apply rounded-md p-4 shadow;
    }

    code {
      @apply font-sans text-sm;

      &:not([class]) {
        @apply rounded-md bg-[var(--astro-code-color-background)] box-decoration-clone p-1;
      }
    }

    ol {
      @apply list-inside list-decimal text-sm;
    }

    blockquote {
      @apply rounded-md border-l-8 border-l-brand-2 bg-2 p-4 font-semibold shadow;
    }

    details {
      @apply my-2 rounded-md bg-2 p-4 shadow;

      &[open] summary {
        @apply text-brand-1;
      }

      summary {
        @apply cursor-pointer hover:text-brand-1;
      }
    }
  }
</style> -->
