---
import Anchor from '@/components/anchor.astro';
import Date from '@/components/date.astro';
import GithubCard from '@/components/github-card.astro';
import PostSubheader from '@/components/post-subheader.astro';
import PostTweet from '@/components/post-tweet.astro';
import PostViews from '@/components/post-views.astro';
import Layout from '@/layouts/layout.astro';
import { CollectionEntry, getCollection } from 'astro:content';
import { ArrowLeft, ArrowRight, Calendar, Clock } from 'lucide-preact';

export const getStaticPaths = async () => {
  return getCollection('posts').then((posts) =>
    posts
      .sort((a, b) => b.data.published.valueOf() - a.data.published.valueOf())
      .map((post, index, _posts) => {
        const prev = _posts[index + 1] ?? _posts[0];
        const next = _posts[index - 1] ?? _posts[_posts.length - 1];
        return { params: { slug: post.slug }, props: { post, prev, next } };
      }),
  );
};

type Post = CollectionEntry<'posts'>;
type Props = { post: Post; prev: Post; next: Post };

const { post, prev, next } = Astro.props;
const { Content, remarkPluginFrontmatter } = await post.render();
---

<Layout
  title={post.data.title}
  description={post.data.description}
  og={`open-graph/src/content/posts/${post.slug}.png`}
>
  <article class="mx-auto mt-fluid-3 max-w-screen-sm">
    <h1 class="mb-4 text-3xl">{post.data.title}</h1>
    <div class="flex gap-8 text-2">
      <div class="flex items-center gap-2">
        <Calendar class="h-5 w-5" />
        <Date>{post.data.published}</Date>
      </div>
      <div class="flex items-center gap-2">
        <Clock class="h-5 w-5" />
        <span>{remarkPluginFrontmatter.readingTime} Min Read</span>
      </div>
    </div>
    <div class="mb-10 mt-8 h-0.5 rounded-md bg-2"></div>
    <div class="flex flex-col gap-10">
      <Content components={{ a: Anchor, h2: PostSubheader }} />
      {post.data.repo && <GithubCard repo={post.data.repo} />}
      <div class="flex flex-wrap items-center justify-between gap-2">
        <PostViews slug={post.slug} />
        <PostTweet post={post} />
      </div>
      <div class="h-0.5 rounded-md bg-2"></div>
      <div class="flex justify-between gap-10">
        <a href={`/blog/${prev.slug}`} class="group flex gap-4">
          <ArrowLeft class="h-6 w-6 shrink-0 stroke-brand" aria-hidden />
          <span class="group-hover:text-brand">{prev.data.title}</span>
        </a>
        <a href={`/blog/${next.slug}`} class="group flex gap-4 text-right">
          <span class="group-hover:text-brand">{next.data.title}</span>
          <ArrowRight class="h-6 w-6 shrink-0 stroke-brand" aria-hidden />
        </a>
      </div>
    </div>
  </article>
</Layout>

<style lang="sass">
  article :global(p)
    @apply leading-8

  article :global(ol)
    @apply list-inside list-decimal text-xs

  article :global(blockquote)
    @apply rounded border-l-8 border-l-brand bg-2 p-4 text-2 shadow

  article :global(details)
    @apply my-2 rounded bg-2 p-4 shadow

    &[open] :global(summary)
      @apply text-brand

    :global(summary)
      @apply cursor-pointer hover:text-brand

  article :global(code)
    @apply bg-[var(--shiki-color-background)] text-xs p-1 rounded

  article :global([data-rehype-pretty-code-fragment])
    @apply rounded bg-[var(--shiki-color-background)] shadow text-xs

    :global([data-rehype-pretty-code-title])
      @apply bg-3 px-4 py-0.5 text-right text-2 shadow rounded-t

    :global(pre)
      @apply p-4 overflow-x-auto

    :global(code)
      @apply font-sans p-0
</style>
