---
import Me from '@/assets/me.webp';
import PostCard from '@/components/post-card.astro';
import PostGithub from '@/components/post-github.astro';
import PostSubheader from '@/components/post-subheader.astro';
import Badge from '@/components/ui/badge.astro';
import Button, { buttonVariants } from '@/components/ui/button.astro';
import * as Code from '@/components/ui/code';
import Collapsible from '@/components/ui/collapsible.astro';
import Date from '@/components/ui/date.astro';
import Link from '@/components/ui/link.astro';
import Note from '@/components/ui/note.astro';
import Separator from '@/components/ui/separator.astro';
import * as TableOfContents from '@/components/ui/table-of-contents';
import Text from '@/components/ui/text.astro';
import Layout from '@/layouts/layout.astro';
import type { GetStaticPaths } from 'astro';
import { Image } from 'astro:assets';
import { getCollection, type CollectionEntry } from 'astro:content';
import { Calendar, ChevronRight, Clock4, Eye, Github, Linkedin, Mail, Rss, Twitter } from 'lucide-astro';

type Post = CollectionEntry<'posts'>;
type Props = { post: Post; prev: Post; next: Post };

const social = buttonVariants({ size: 'icon', color: 'ghost', class: '[&_svg]:size-3.5 size-6' });

export const getStaticPaths: GetStaticPaths = async () =>
  getCollection('posts').then((posts) =>
    posts
      .sort((a, b) => b.data.published.valueOf() - a.data.published.valueOf())
      .map((post, index, _posts) => {
        const prev = _posts[index + 1] ?? _posts[0];
        const next = _posts[index - 1] ?? _posts[_posts.length - 1];
        return { params: { slug: post.slug }, props: { post, prev, next } };
      }),
  );

const { post, prev, next } = Astro.props;
const { remarkPluginFrontmatter, headings, Content } = await post.render();
---

<Layout
  title={post.data.title}
  description={post.data.description}
  og={`open-graph/src/content/posts/${post.slug}.png`}
  class="mx-auto max-w-2xl lg:grid lg:max-w-screen-xl lg:grid-cols-[1fr,18rem] lg:gap-16 lg:px-16"
>
  <article>
    <Text as="h1" class="uppercase text-3xl">{post.data.title}</Text>
    <div class="mt-4 flex flex-wrap items-center gap-4">
      <Badge><Calendar aria-hidden /><Date value={post.data.published} /></Badge>
      <Badge><Clock4 aria-hidden />{remarkPluginFrontmatter.readingTime}</Badge>
      <!-- prettier-ignore -->
      <Badge x-data={`{ views: $fetch("/blog/views", ${JSON.stringify({ method: 'PUT', body: { slug: post.slug } })})}`}>
        <Eye aria-hidden />
        <Text x-text="(await views)?.toString().padStart(6, '0')">000000</Text  >
      </Badge>
    </div>
    <Separator class="my-4 lg:my-8" />
    <Collapsible class="lg:hidden">
      <Button slot="collapsible-trigger" color="ghost" id="table-of-contents-mobile">
        <ChevronRight class="size-4 motion-safe:transition-transform" :class="expanded && 'rotate-90'" aria-hidden />
        <Text>TABLE OF CONTENTS</Text>
      </Button>
      <TableOfContents.Root class="px-10 py-2" aria-labelledby="table-of-contents-mobile">
        <TableOfContents.Links>
          <TableOfContents.Link {...{ slug: 'introduction', text: 'Introduction' }} />
          {headings.map((heading) => <TableOfContents.Link {...heading} />)}
        </TableOfContents.Links>
      </TableOfContents.Root>
    </Collapsible>
    <Separator class="my-4 lg:hidden" />
    <div class="flex max-w-[70ch] flex-col gap-8 leading-7 [&>p]:text-1/85 [&_p_a]:underline">
      <Content
        components={{
          h2: PostSubheader,
          a: Link,
          blockquote: Note,
          figure: Code.Root,
          figcaption: Code.Header,
          pre: Code.Content,
          code: Code.Block,
        }}
      />
      {post.data.repo && <PostGithub repo={post.data.repo} />}
      <Text as="h2" id="introduction" class="sr-only">Introduction</Text>
    </div>
    <Separator class="mb-8 mt-16" />
    <div class="flex flex-col gap-6">
      <Text as="h3">MORE POSTS</Text>
      <ul class="grid gap-x-10 gap-y-6 md:grid-cols-2">
        <PostCard post={prev} />
        <PostCard post={next} />
      </ul>
    </div>
  </article>
  <aside class="sticky top-20 hidden h-max rounded border p-4 shadow lg:block">
    <TableOfContents.Root aria-labelledby="table-of-contents-desktop">
      <TableOfContents.Title id="table-of-contents-desktop">TABLE OF CONTENTS</TableOfContents.Title>
      <TableOfContents.Links>
        <TableOfContents.Link {...{ slug: 'introduction', text: 'Introduction' }} />
        {headings.map((heading) => <TableOfContents.Link {...heading} />)}
      </TableOfContents.Links>
    </TableOfContents.Root>
    <Separator class="my-4" />
    <div class="flex items-center gap-4">
      <div class="size-14 shrink-0 rounded border shadow">
        <Image src={Me} alt="Me" loading="eager" class="brightness-150 grayscale dark:brightness-100" />
      </div>
      <div class="flex flex-col gap-px">
        <div class="flex flex-col pl-2 text-xs">
          <Text class="font-medium leading-none">CHRISTIAN PENROD</Text>
          <Text class="text-2">Front-End Web Developer</Text>
        </div>
        <ul class="flex text-2 [&_[data-external-icon]]:hidden">
          <li><Link href={import.meta.env.GITHUB} aria-label="Github" class={social}><Github /></Link></li>
          <li><Link href={import.meta.env.TWITTER} aria-label="Twitter" class={social}><Twitter /></Link></li>
          <li><Link href={import.meta.env.LINKEDIN} aria-label="LinkedIn" class={social}><Linkedin /></Link></li>
          <li><Link href={`mailto:${import.meta.env.EMAIL}`} aria-label="Email" class={social}><Mail /></Link></li>
          <li><Link href={new URL('rss.xml', import.meta.env.SITE)} aria-label="RSS" class={social}><Rss /></Link></li>
        </ul>
      </div>
    </div>
  </aside>
</Layout>
