---
import Button from '@/components/ui/button.astro';
import * as Card from '@/components/ui/card';
import Command from '@/components/ui/command.astro';
import Date from '@/components/ui/date.astro';
import * as Dialog from '@/components/ui/dialog';
import Icon from '@/components/ui/icon.astro';
import Input from '@/components/ui/input.astro';
import Link from '@/components/ui/link.astro';
import * as List from '@/components/ui/list';
import Separator from '@/components/ui/separator.astro';
import Text from '@/components/ui/text.astro';
import Layout from '@/layouts/index.astro';
import { getCollection, render } from 'astro:content';
import { PostView, db, sum } from 'astro:db';
import { PAGEFIND_LINK } from 'astro:env/server';

const [rs] = await db.select({ views: sum(PostView.views) }).from(PostView);
const views = Intl.NumberFormat('en', { notation: 'compact', maximumFractionDigits: 1 }).format(Number(rs?.views ?? 0));
const posts = (await getCollection('posts')).sort((a, b) => b.data.published.valueOf() - a.data.published.valueOf());
---

<Layout title="Blog | Christian Penrod">
  <Text as="h1" size="7" weight="semibold">BLOG POSTS</Text>
  <Text as="h2" size="2" class="mb-20">Explore various sofware-related posts.</Text>
  <div x-data="pagefind" class="grid grid-cols-[1fr_40%] gap-16">
    <section class="flex flex-col gap-6">
      <div class="flex items-center gap-4">
        <Text as="h3" size="3" weight="semibold">ALL POSTS</Text>
        <Separator class="flex-1" />
        <div class="flex items-center">
          <Text>{views} Views</Text>
          <Icon name="dot" class="size-6 text-gray-11" />
          <Text>{posts.length} Posts</Text>
        </div>
      </div>
      <Dialog.Root @close="data = []; $refs.query.value = ''">
        <Button slot="dialog-trigger" variant="soft-outline" class="justify-start gap-4">
          <Icon name="search" />
          <Text>Search Posts</Text>
          <Command key="/" class="ml-auto" />
        </Button>
        <Dialog.Header>
          <Input
            x-ref="query"
            class="w-full"
            placeholder="Search posts..."
            autocorrect="off"
            autocapitalize="off"
            @keyup="data = await Promise.all((await search($event.target.value)).results.map((item) => item.data()))"
          >
            <Icon slot="prefix" name="search" />
            <Button slot="suffix" size="icon" variant="ghost" icon="x" aria-label="Reset" @click="$dispatch('close')" />
          </Input>
        </Dialog.Header>
        <Dialog.Body>
          <div x-cloak>
            <Text x-show="!data.length && $refs.query.value.length" class="mx-auto text-center">No Results Found</Text>
            <List.Root
              class:list={[
                '[&_mark]:rounded [&_mark]:border [&_mark]:border-dotted [&_mark]:border-accent-9',
                '[&_mark]:bg-transparent [&_mark]:p-0.5 [&_mark]:text-gray-12',
              ]}
            >
              <template x-for="post in data">
                <List.ItemLink
                  :href="post.meta.slug"
                  :aria-label="post.meta.title"
                  class="max-w-none flex-col items-start gap-1 border-b p-6 leading-loose group-last:border-b-0"
                >
                  <Text weight="semibold" x-text="post.meta.title" class="text-gray-12" />
                  <Text size="1" x-html="post.excerpt + '...'" class="max-w-none !text-gray-11" />
                </List.ItemLink>
              </template>
            </List.Root>
          </div>
        </Dialog.Body>
        <Dialog.Footer>
          <div class="flex items-center gap-2 text-gray-11">
            <Command icon="corner-down-left" aria-label="Enter key" />
            <Text size="1">to select</Text>
          </div>
          <div class="flex items-center gap-1 text-gray-11">
            <Command icon="move-down" aria-label="Arrow up key" />
            <Command icon="move-up" aria-label="Arrow down key" />
            <Text size="1" class="ml-1">to navigate</Text>
          </div>
          <div class="flex items-center gap-2 text-gray-11">
            <Command key="esc" aria-label="Escape key" />
            <Text size="1">to close</Text>
          </div>
          <div class="ml-auto flex items-center gap-2">
            <Text size="1">Search by</Text>
            <Link href={PAGEFIND_LINK} iconInternal icon="pagefind" aria-label="Pagefind" class="[&_svg]:size-auto" />
          </div>
        </Dialog.Footer>
      </Dialog.Root>
      <List.Root>
        {
          posts.map((post) => (
            <List.ItemLink href={`blog/${post.id}`} class="gap-2">
              <Text size="1">{post.data.title}</Text>
              <Separator class="flex-1" />
              <div class="flex items-center gap-0.5 text-gray-11">
                <Date size="1" value={post.data.published} />
                <Icon name="dot" />
                <Text size="1">{render(post).then((res) => res.remarkPluginFrontmatter.readingTime)}</Text>
              </div>
            </List.ItemLink>
          ))
        }
      </List.Root>
    </section>
    <section class="flex flex-col gap-6">
      <div class="flex items-center gap-2">
        <Icon name="notebook-pen" class="size-5 -translate-y-0.5 text-gray-11" />
        <Text as="h3" size="4" weight="semibold">RECENT POSTS</Text>
      </div>
      <List.Root class="gap-8">
        {
          posts.slice(0, 3).map((post) => (
            <List.Item>
              <Card.Root as="a" href={`/blog/${post.id}`} aria-label={`${post.data.title}. ${post.data.description}`}>
                <Card.Body>
                  <Card.Title>{post.data.title}</Card.Title>
                  <Card.Description>{post.data.description}</Card.Description>
                </Card.Body>
                <Card.Footer>
                  <Date size="1" value={post.data.published} />
                  <Icon name="dot" class="size-6 text-gray-11" />
                  <Text size="1">{render(post).then((res) => res.remarkPluginFrontmatter.readingTime)}</Text>
                  <Icon name="dot" class="size-6 text-gray-11" />
                  <Text size="1">2.3K Views</Text>
                </Card.Footer>
              </Card.Root>
            </List.Item>
          ))
        }
      </List.Root>
    </section>
  </div>
</Layout>
