---
import type { HTMLAttributes } from 'astro/types';
import { twMerge } from 'tailwind-merge';

type Props = HTMLAttributes<'button'> & { for: string };

const { class: className, for: htmlFor, ...props } = Astro.props;
---

<button
  {...props}
  role="tab"
  type="button"
  :id={`$id('tabs') + '-tab-${htmlFor}'`}
  :tabindex={`active === "${htmlFor}" ? '0' : '-1'`}
  :aria-selected={`active === "${htmlFor}"`}
  :aria-controls={`$id('tabs') + '-tabpanel-${htmlFor}'`}
  @click={`active = "${htmlFor}"`}
  @focus={`active = "${htmlFor}"`}
  class={twMerge(
    'aria-selected:text-brand relative isolate rounded text-xs',
    'm-1 flex-1 border-none px-3 py-0.5 motion-safe:transition-colors',
    'focus-visible:ring-ring focus-visible:ring-1 focus-visible:outline-none',
    'before:bg-surface-1 before:absolute before:inset-0 before:-z-10',
    'before:rounded before:content-[""] motion-safe:before:transition-all',
    'before:scale-90 before:opacity-0 aria-selected:before:scale-100 aria-selected:before:opacity-100',
    className,
  )}
>
  <slot />
</button>
