---
import * as Component from '@/components/card';
import Chip from '@/components/chip.astro';
import Date from '@/components/date.astro';
import Icon from '@/components/icon.astro';
import Text from '@/components/text.astro';
import type { GetSortedPosts } from '@/content.utils';
import { Image } from 'astro:assets';

type Props = GetSortedPosts[0];

const { id, data } = Astro.props;
---

<Component.Root as="a" href={`/blog/${id}`}>
  <Component.Header>
    <div class="rounded-border mb-1 h-24 overflow-hidden">
      <Image src={data.coverDark} alt="Cover" loading="eager" layout="full-width" class="rounded not-dark:hidden" />
      <Image src={data.coverLight} alt="Cover" loading="eager" layout="full-width" class="rounded dark:hidden" />
    </div>
    <Text weight="bold">{data.title}</Text>
    <div class="flex flex-wrap gap-2">{data?.topics.map(({ text }) => <Chip value={text} variant="soft" />)}</div>
  </Component.Header>
  <Component.Body>
    <Text size="2" variant="subtle">{data.description}</Text>
  </Component.Body>
  <Component.Footer>
    <div class="flex items-center gap-1">
      <Icon name="calendar" variant="subtle" size="sm" />
      <Date size="1" variant="subtle" value={data.published} />
    </div>
    <div class="flex items-center gap-1">
      <Icon name="clock-2" variant="subtle" size="sm" />
      <Text size="1" variant="subtle">{data.readingTime}</Text>
    </div>
  </Component.Footer>
</Component.Root>
