---
import Me from '@/assets/me.webp';
import PostCard from '@/components/post-card.astro';
import ProjectCard from '@/components/project-card.astro';
import Link from '@/components/ui/link.astro';
import Separator from '@/components/ui/separator.astro';
import Layout from '@/layouts/layout.astro';
import { Image } from 'astro:assets';
import { getCollection } from 'astro:content';
import { ArrowRightIcon, Github, Linkedin, Mail, Rss, Twitter } from 'lucide-preact';

const rssURL = new URL('rss.xml', import.meta.env.SITE);
const projects = ['feedjoy', 'christianpenrod'];
const posts = (await getCollection('posts'))
  .sort((a, b) => b.data.published.valueOf() - a.data.published.valueOf())
  .slice(0, 3);
---

<Layout>
  <div class="mx-auto mt-fluid-5 flex max-w-lg flex-col gap-10 lg:max-w-screen-lg">
    <section class="flex justify-between">
      <div>
        <h1 class="text-3xl font-bold tracking-widest">CHRISTIAN PENROD</h1>
        <p class="text-xl tracking-wider text-2">Front-End Web Developer</p>
        <p class="mb-fluid-5 mt-fluid-2 max-w-prose text-xs text-2 [&_a]:text-1">
          Building software for the web since 2018. Currently working as a <em>Full-Stack</em>
           Web Developer at <Link href={import.meta.env.JOB}>McKesson</Link>. Graduated from
          <Link href={import.meta.env.COLLEGE}>LaRoche University</Link> with a Bachelors in
          Computer Science. Located in Pittsburgh, PA, USA.
        </p>
        <ul class="flex text-2 [&_li_[data-external-icon]]:hidden [&_li_a]:px-2 [&_svg]:w-4">
          <li><Link href={import.meta.env.GITHUB}><Github aria-label="Github" /></Link></li>
          <li><Link href={import.meta.env.TWITTER}><Twitter aria-label="Twitter" /></Link></li>
          <li><Link href={import.meta.env.LINKEDIN}><Linkedin aria-label="LinkedIn" /></Link></li>
          <li><Link href={import.meta.env.EMAIL}><Mail aria-label="EMAIL" /></Link></li>
          <li><Link href={rssURL}><Rss aria-label="RSS" /></Link></li>
        </ul>
      </div>
      <div class="hidden h-[280px] w-[280px] rounded border-2 lg:block [&_img]:rounded">
        <Image src={Me} alt="Me" loading="eager" quality={100} width={2048} height={2048} />
      </div>
    </section>
    <Separator />
    <section class="flex flex-col gap-6">
      <h2 class="font-bold leading-none tracking-wider text-2">PROJECTS</h2>
      <!-- prettier-ignore -->
      <ul class="grid lg:grid-cols-2 gap-x-10 gap-y-6">
        {projects.map((project) => (<li><ProjectCard {project} /></li>))}
      </ul>
    </section>
    <Separator />
    <section class="flex flex-col gap-6">
      <h2 class="font-bold leading-none tracking-wider text-2">RECENT POSTS</h2>
      <!-- prettier-ignore -->
      <ul class="gap-10 grid lg:grid-cols-3">
        {posts.map((post) => (<li><PostCard {post} /></li>))}
      </ul>
      <Link href="/blog" class="mt-2 self-end text-xs text-2">
        View All Posts <ArrowRightIcon size={14} aria-hidden />
      </Link>
    </section>
  </div>
</Layout>
