---
import Me from '@/assets/me.webp';
import Arrow from '@/components/ui/arrow.astro';
import * as BarChart from '@/components/ui/bar-chart';
import { buttonVariants } from '@/components/ui/button.astro';
import * as Card from '@/components/ui/card';
import Chip from '@/components/ui/chip.astro';
import Date from '@/components/ui/date.astro';
import Icon from '@/components/ui/icon.astro';
import Link from '@/components/ui/link.astro';
import * as List from '@/components/ui/list';
import Separator from '@/components/ui/separator.astro';
import * as Stat from '@/components/ui/stat';
import Text from '@/components/ui/text.astro';
import Layout from '@/layouts/index.astro';
import { Image } from 'astro:assets';
import { getCollection } from 'astro:content';
import * as env from 'astro:env/server';
import { GITHUB } from 'astro:env/server';
import { getSortedPosts } from './blog/_utils';

const stats = await getCollection('stats');
const languages = await getCollection('languages');
const topics = await getCollection('topics');
const posts = await getSortedPosts();
---

<Layout>
  <section class="relative flex min-h-96 border-b pb-10 lg:items-center lg:justify-between">
    <div>
      <Text as="h1" size="8" weight="semibold">CHRISTIAN PENROD</Text>
      <Text as="h2" size="6">Front-End Web Developer</Text>
      <Text class="my-6 text-gray-11">
        Working on the web since 2018. I enjoy developing efficient web experiences through code and design. Equally
        driven to sharing knowledge with others. {env.JOB_TITLE} at <Link href={env.JOB_LINK}>{env.JOB_NAME}</Link>.
        {env.COLLEGE_TITLE} graduate from <Link href={env.COLLEGE_LINK}>{env.COLLEGE_NAME}</Link>.
      </Text>
      <!-- prettier-ignore -->
      <List.Root orientation="horizontal">
        <List.ItemLink href={env.GITHUB} icon="github" aria-label="Github" class={buttonVariants({ variant: 'ghost', size: 'icon', class: '-ml-2' })} />
        <List.ItemLink href={env.TWITTER} icon="twitter" aria-label="Twitter/X" class={buttonVariants({ variant: 'ghost', size: 'icon' })} />
        <List.ItemLink href={env.LINKEDIN} icon="linkedin" aria-label="LinkedIn" class={buttonVariants({ variant: 'ghost', size: 'icon' })} />
        <List.ItemLink href={`mailto:${env.EMAIL}`} icon="mail" aria-label="Email" class={buttonVariants({ variant: 'ghost', size: 'icon' })} />
      </List.Root>
    </div>
    <div class="absolute -right-28 -top-20 z-10 size-96 shrink-0 opacity-40 lg:-top-10 lg:right-0 lg:opacity-100">
      <Image src={Me} alt="Me" loading="eager" width={2048} height={1936} />
    </div>
  </section>
  <div class="lg:grid lg:grid-cols-[50%_auto_50%]">
    <section class="flex flex-col gap-10 pr-16 pt-10">
      <div class="flex flex-col gap-2">
        <Text as="h3" size="4" weight="semibold">STATISTICS</Text>
        <Text size="1" class="text-gray-11">
          Statistics about personal work and contributions to the open-source community. As well as most used
          technologies and tools.
        </Text>
      </div>
      <List.Root orientation="horizontal" class="mb-2 gap-4">
        {
          stats.map((stat) => (
            <List.Item class="basis-full">
              <Stat.Root icon={stat.data.icon}>
                <Stat.Key>{stat.data.label}</Stat.Key>
                <Stat.Value value={stat.data.value} />
              </Stat.Root>
            </List.Item>
          ))
        }
      </List.Root>
      <div>
        <Text>PROGRAMMING LANGUAGES</Text>
        <Text size="1" class="mb-4 text-gray-11">Most common across recent projects.</Text>
        <BarChart.Root data={languages.map((language) => language.data)}>
          {
            languages.map((language) => (
              <BarChart.Bar key={language.data.name}>
                <BarChart.BarKey>{language.data.name}</BarChart.BarKey>
                <BarChart.BarValue>{language.data.count}</BarChart.BarValue>
              </BarChart.Bar>
            ))
          }
        </BarChart.Root>
      </div>
      <div>
        <Text>FRAMEWORKS/LIBRARIES</Text>
        <Text size="1" class="mb-4 text-gray-11">Most common across recent projects.</Text>
        <BarChart.Root data={topics.map((topic) => topic.data)}>
          {
            topics.map((topic) => (
              <BarChart.Bar key={topic.data.name}>
                <BarChart.BarKey>{topic.data.name}</BarChart.BarKey>
                <BarChart.BarValue>{topic.data.count}</BarChart.BarValue>
              </BarChart.Bar>
            ))
          }
        </BarChart.Root>
      </div>
      <Link href={GITHUB} size="1" class="self-end not-italic">View Github Profile</Link>
    </section>
    <Separator orientation="vertical" />
    <section class="flex flex-col gap-10 pl-16 pt-10">
      <div class="flex flex-col gap-2">
        <Text as="h3" size="4" weight="semibold">RECENT POSTS</Text>
        <Text size="1" class="text-gray-11">
          I write about various sortware-related topics. Focusing on web development and developer experience tooling.
        </Text>
      </div>
      <List.Root class="gap-6">
        {
          posts.slice(0, 3).map((post) => (
            <List.Item>
              <Card.Root as="a" href={`/blog/${post.id}`}>
                <Card.Body>
                  <List.Root orientation="horizontal" class="-ml-1 gap-1">
                    {post.data.topics.map((value) => (
                      <List.Item>
                        <Chip {value} variant="soft" />
                      </List.Item>
                    ))}
                  </List.Root>
                  <Card.Title>{post.data.title}</Card.Title>
                  <Card.Description>{post.data.description}</Card.Description>
                </Card.Body>
                <Card.Footer>
                  <Date size="1" value={post.data.published} />
                  <Icon name="dot" class="size-6 text-gray-11" />
                  <Text size="1">{post.data.readingTime}</Text>
                  <Icon name="dot" class="size-6 text-gray-11" />
                  <Text size="1">2.3K Views</Text>
                </Card.Footer>
              </Card.Root>
            </List.Item>
          ))
        }
      </List.Root>
      <Link href="/blog/1" size="1" class="self-end">View All Posts <Arrow name="right" /></Link>
    </section>
  </div>
</Layout>
