---
import { Octokit } from '@octokit/rest';
import type { CollectionEntry } from 'astro:content';
import { Book, GitFork, Star } from 'lucide-preact';
import { twJoin } from 'tailwind-merge';

type Props = { repo: NonNullable<CollectionEntry<'posts'>['data']['repo']> };

const octokit = new Octokit({ auth: import.meta.env.GITHUB_TOKEN });
const repo = await octokit.repos
  .get({ owner: import.meta.env.USERNAME, repo: Astro.props.repo })
  .then((res) => res.data);
---

<a
  href={repo.html_url}
  target="_blank"
  rel="nofollow noopener noreferrer"
  aria-label={`Check out the github repo: ${repo.name}. ${repo.description}`}
  class={twJoin(
    'group flex h-full flex-col gap-1 rounded-md bg-2 p-4 shadow',
    'hover:bg-3 duration-200 motion-safe:transition-colors',
  )}
>
  <div class="flex items-center gap-2 text-2">
    <Book class="h-4 w-4 shrink-0" />
    <span class="text-1 group-hover:text-brand">{repo.name}</span>
  </div>
  <p class="font-1 text-2 text-xs">{repo.description}</p>
  <div class="mt-auto flex items-center gap-4 pt-2 font-1 text-2 text-xs">
    <div class="flex items-center gap-2">
      <div class="h-3 w-3 shrink-0 rounded-full bg-current"></div>
      <span>{repo.language}</span>
    </div>
    <div class="flex items-center gap-2">
      <Star class="h-4 w-4 shrink-0" />
      <span>{repo.stargazers_count}</span>
    </div>
    <div class="flex items-center gap-2">
      <GitFork class="h-4 w-4 shrink-0" />
      <span>{repo.forks_count}</span>
    </div>
  </div>
</a>
