---
import { type CollectionEntry, render } from 'astro:content';
import { twJoin } from 'tailwind-merge';
import Date from './ui/date.astro';
import Icon from './ui/icon.astro';
import Separator from './ui/separator.astro';
import Text from './ui/text.astro';

type Props = { post: CollectionEntry<'posts'> };

const { post } = Astro.props;
const { remarkPluginFrontmatter } = await render(post);
---

<a
  href={`/blog/${post.id}`}
  aria-label={`${post.data.title}. ${post.data.description}`}
  class={twJoin(
    'group border-border flex h-full flex-col overflow-hidden rounded border shadow-sm select-none',
    'focus-visible:ring-ring focus-visible:ring-1 focus-visible:outline-none',
  )}
>
  <div class="bg-surface-2 h-8 rounded-t"></div>
  <div class="bg-1 border-border z-20 flex flex-1 flex-col gap-2 border-t p-4">
    <Text class="group-hover:text-brand text-sm motion-safe:transition-colors">{post.data.title}</Text>
    <Text as="p" class="text-foreground-2 flex-1 text-xs">{post.data.description}</Text>
    <Separator class="my-1.5" />
    <div class="text-foreground-2 flex justify-between gap-4 text-xs">
      <div class="flex items-center gap-2">
        <Icon name="calendar" class="size-3.5" />
        <Date value={post.data.published} />
      </div>
      <div class="flex items-center gap-2">
        <Icon name="clock-4" class="size-3.5" />
        <Text>{remarkPluginFrontmatter.readingTime}</Text>
      </div>
    </div>
  </div>
</a>
