---
import octokit from '@/libs/octokit';
import { Book, GitFork, Star } from 'lucide-astro';
import Text from './ui/text.astro';

type Props = { repo: string };

const repo = await octokit.repos
  .get({ owner: import.meta.env.USERNAME, repo: Astro.props.repo })
  .then((res) => res.data);
---

<a
  href={repo.html_url}
  target="_blank"
  rel="nofollow noopener noreferrer"
  aria-label={`Check out the github repo: ${repo.name}. ${repo.description}`}
  class="group flex flex-col gap-1 rounded border px-4 py-3 focus-visible:outline-none focus-visible:ring"
>
  <div class="flex items-center gap-2 group-hover:text-brand motion-safe:transition-colors">
    <Book class="size-3.5 shrink-0 text-2" aria-hidden />
    <Text class="font-medium text-sm">{repo.name}</Text>
  </div>
  <Text as="p" class="text-2 text-xs">{repo.description}</Text>
  <div class="mt-1.5 flex items-center gap-4 text-2 text-xs">
    <div class="mr-1 flex items-center gap-1"><div class="size-4 rounded-full border bg-3"></div>{repo.language}</div>
    <div class="flex items-center gap-1"><Star class="size-4" aria-hidden />{repo.stargazers_count}</div>
    <div class="flex items-center gap-1"><GitFork class="size-4" aria-hidden />{repo.forks_count}</div>
  </div>
</a>
