---
import type { CollectionEntry } from 'astro:content';
import { Calendar, Clock4 } from 'lucide-astro';
import { twJoin } from 'tailwind-merge';
import Date from './ui/date.astro';
import Separator from './ui/separator.astro';
import Text from './ui/text.astro';

type Props = { post: CollectionEntry<'posts'> };

const { post } = Astro.props;
const { remarkPluginFrontmatter } = await post.render();
---

<a
  href={`/blog/${post.slug}`}
  aria-label={`${post.data.title}. ${post.data.description}`}
  class={twJoin(
    'group flex h-full select-none flex-col overflow-hidden rounded border shadow',
    'focus-visible:outline-none focus-visible:ring-1',
  )}
>
  <div class="h-8 rounded-t bg-2"></div>
  <div class="z-20 flex flex-1 flex-col gap-2 border-t bg-1 p-4">
    <Text class="text-sm group-hover:text-brand motion-safe:transition-colors">{post.data.title}</Text>
    <Text as="p" class="flex-1 text-2 text-xs">{post.data.description}</Text>
    <Separator class="my-1.5" />
    <div class="flex justify-between gap-4 text-2 text-xs">
      <div class="flex items-center gap-2">
        <Calendar class="size-3.5 shrink-0" aria-hidden />
        <Date value={post.data.published} />
      </div>
      <div class="flex items-center gap-2">
        <Clock4 class="size-3.5 shrink-0" aria-hidden />
        <Text>{remarkPluginFrontmatter.readingTime}</Text>
      </div>
    </div>
  </div>
</a>
