---
import { Github, Linkedin, Mail, Rss, Twitter } from 'lucide-preact';
import Link from './ui/link.astro';

const RSSUrl = new URL('rss.xml', import.meta.env.SITE);
---

<ul class="flex items-center text-2 [&_li_[data-external-icon]]:hidden [&_li_a]:px-2">
  <li><Link href={import.meta.env.GITHUB}><Github size={16} aria-label="Github" /></Link></li>
  <li><Link href={import.meta.env.TWITTER}><Twitter size={16} aria-label="Twitter" /></Link></li>
  <li><Link href={import.meta.env.LINKEDIN}><Linkedin size={16} aria-label="LinkedIn" /></Link></li>
  <li><Link href={import.meta.env.EMAIL}><Mail size={16} aria-label="EMAIL" /></Link></li>
  <li><Link href={RSSUrl}><Rss size={16} aria-label="RSS" /></Link></li>
</ul>
