---
import { Github, Linkedin, Mail, Rss, Twitter } from 'lucide-astro';
import Link from './ui/link.astro';

const rssURL = new URL('rss.xml', import.meta.env.SITE);
---

<ul class="flex text-2 [&_li_[data-external-icon]]:hidden [&_li_a]:pr-4 [&_svg]:w-4">
  <li><Link href={import.meta.env.GITHUB}><Github aria-label="Github" /></Link></li>
  <li><Link href={import.meta.env.TWITTER}><Twitter aria-label="Twitter" /></Link></li>
  <li><Link href={import.meta.env.LINKEDIN}><Linkedin aria-label="LinkedIn" /></Link></li>
  <li><Link href={import.meta.env.EMAIL}><Mail aria-label="EMAIL" /></Link></li>
  <li><Link href={rssURL}><Rss aria-label="RSS" /></Link></li>
</ul>
