---
import favicon from '@/assets/favicon.webp';
import ogDefault from '@/assets/og.webp';
import Icon from '@/components/ui/icon.astro';
import Link from '@/components/ui/link.astro';
import * as NavigationMenu from '@/components/ui/navigation-menu';
import Separator from '@/components/ui/separator.astro';
import '@/tailwind.css';
import '@fontsource/geist-sans';
import type { HTMLAttributes } from 'astro/types';
import * as env from 'astro:env/server';
import { ClientRouter } from 'astro:transitions';

type Props = HTMLAttributes<'main'> & { title?: string; description?: string; og?: string };

const {
  title = 'Christian Penrod | Front-End Web Developer',
  description = 'Developing for the web since 2018.',
  og = ogDefault.src,
  class: className,
  ...props
} = Astro.props;
---

<html lang="en" class="scrollbar-thin antialiased sm:py-4">
  <head>
    <title>{title}</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="title" content={title} />
    <meta name="description" content={description} />
    <meta property="og:type" content="website" />
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:site_name" content={String(Astro.site).replace(/\/+$/, '')} />
    <meta property="og:url" content={new URL(og, Astro.site)} />
    <meta property="og:image" content={new URL(og, Astro.site)} />
    <meta property="og:image:alt" content={title} />
    <meta property="og:image:width" content="1280" />
    <meta property="og:image:height" content="675" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:creator" content={`@${env.USERNAME}`} />
    <meta name="twitter:title" content={title} />
    <meta name="twitter:description" content={description} />
    <meta name="twitter:image" content={new URL(og, Astro.site)} />
    <link rel="icon" type="image/svg+xml" href={favicon.src} />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <link href={String(new URL(Astro.url.pathname, Astro.site)).replace(/\/+$/, '')} rel="canonical" />
    <script is:inline set:text="document.documentElement.classList.add('[&_[x-cloak]]:hidden')" />
    <ClientRouter />
  </head>
  <body
    class:list={[
      'border-gray-6 mx-auto flex min-h-[calc(100dvh-3rem)] max-w-screen-xl flex-col sm:rounded-sm sm:border',
      'bg-gray-1 text-gray-12',
    ]}
  >
    <header
      class="bg-gray-1 border-gray-6 sticky top-0 z-50 flex h-12 items-center justify-between rounded-t-sm border-b px-4"
    >
      <Link href="/" size="1">Home</Link>
      <NavigationMenu.Root>
        <NavigationMenu.Link href="/blog/1">Blog</NavigationMenu.Link>
        <NavigationMenu.Dropdown>
          <NavigationMenu.DropdownTrigger>Socials</NavigationMenu.DropdownTrigger>
          <NavigationMenu.DropdownLinks class="[&_a_span:last-child]:hidden">
            <NavigationMenu.Link href={env.GITHUB}><Icon name="github" /> Github</NavigationMenu.Link>
            <NavigationMenu.Link href={env.TWITTER}><Icon name="twitter" /> Twitter/X</NavigationMenu.Link>
            <NavigationMenu.Link href={env.LINKEDIN}><Icon name="linkedin" />LinkedIn</NavigationMenu.Link>
            <Separator class="my-1" />
            <NavigationMenu.Link href={`mailto:${env.EMAIL}`}><Icon name="mail" />Copy Email</NavigationMenu.Link>
          </NavigationMenu.DropdownLinks>
        </NavigationMenu.Dropdown>
      </NavigationMenu.Root>
    </header>
    <main {...props} class:list={['flex-1 overflow-hidden px-6 py-14 sm:p-14', className]}><slot /></main>
    <footer class="border-gray-6 border-t"></footer>
  </body>
</html>
