---
import favicon from '@/assets/favicon.webp';
import ogDefault from '@/assets/og.webp';
import { buttonVariants } from '@/components/ui/button.astro';
import Clipboard from '@/components/ui/clipboard.astro';
import Icon from '@/components/ui/icon.astro';
import Link from '@/components/ui/link.astro';
import * as NavigationMenu from '@/components/ui/navigation-menu';
import Separator from '@/components/ui/separator.astro';
import Text from '@/components/ui/text.astro';
import Theme from '@/components/ui/theme.astro';
import '@/tailwind.css';
import '@fontsource/inter/400.css';
import '@fontsource/inter/500.css';
import '@fontsource/inter/700.css';
import type { HTMLAttributes } from 'astro/types';
import * as env from 'astro:env/server';
import { ViewTransitions } from 'astro:transitions';
import { twMerge } from 'tailwind-merge';

type Props = HTMLAttributes<'main'> & { title?: string; description?: string; og?: string };

const {
  title = 'Christian Penrod | Front-End Web Developer',
  description = 'Developing for the web since 2015, based in Pittsburgh PA.',
  og = ogDefault.src,
  class: className,
  ...props
} = Astro.props;
---

<html lang="en" class="bg-surface-2 text-foreground-1 scrollbar ml-[calc(100vw-100%)] scroll-pt-20 antialiased sm:p-4">
  <head>
    <title>{title}</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="title" content={title} />
    <meta name="description" content={description} />
    <meta property="og:type" content="website" />
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:site_name" content={String(Astro.site).replace(/\/+$/, '')} />
    <meta property="og:url" content={new URL(og, Astro.site)} />
    <meta property="og:image" content={new URL(og, Astro.site)} />
    <meta property="og:image:alt" content={title} />
    <meta property="og:image:width" content="1280" />
    <meta property="og:image:height" content="675" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:creator" content={`@${env.USERNAME}`} />
    <meta name="twitter:title" content={title} />
    <meta name="twitter:description" content={description} />
    <meta name="twitter:image" content={new URL(og, Astro.site)} />
    <link rel="icon" type="image/svg+xml" href={favicon.src} />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <link href={String(new URL(Astro.url.pathname, Astro.site)).replace(/\/+$/, '')} rel="canonical" />
    <script is:inline set:text="document.documentElement.classList.add('[&_[x-cloak]]:hidden')" />
    <ViewTransitions />
  </head>
  <body
    class="bg-surface-1 sm:border-border mx-auto flex min-h-[calc(100dvh-2rem)] max-w-screen-xl flex-col shadow-sm sm:rounded sm:border"
  >
    <header
      class="bg-surface-1 border-border sticky top-0 z-50 flex h-12 w-full items-center rounded-t border-b px-4 text-xs"
    >
      <Link
        href="/"
        aria-label="Home"
        icon="home"
        class={buttonVariants({ color: 'ghost', size: 'icon', class: 'mr-auto' })}
      />
      <NavigationMenu.Root>
        <NavigationMenu.Link href="/blog">Blog</NavigationMenu.Link>
        <NavigationMenu.Dropdown>
          <NavigationMenu.DropdownTrigger>Socials</NavigationMenu.DropdownTrigger>
          <NavigationMenu.DropdownLinks class="[&_svg:first-child]:size-3.5 [&_svg:last-child]:ml-auto">
            <NavigationMenu.Link href={env.GITHUB}><Icon name="github" /> Github</NavigationMenu.Link>
            <NavigationMenu.Link href={env.TWITTER}><Icon name="twitter" /> Twitter/X</NavigationMenu.Link>
            <NavigationMenu.Link href={env.LINKEDIN}> <Icon name="linkedin" />LinkedIn</NavigationMenu.Link>
            <Separator />
            <NavigationMenu.Link href={`mailto:${env.EMAIL}`} class="p-0" tabindex="-1" @click.prevent>
              <Clipboard class="w-full" content={env.EMAIL}>Copy Email</Clipboard>
            </NavigationMenu.Link>
          </NavigationMenu.DropdownLinks>
        </NavigationMenu.Dropdown>
      </NavigationMenu.Root>
      <Theme />
    </header>
    <main {...props} class={twMerge('flex-1 px-6 py-10 sm:px-8 sm:py-14', className)}><slot /></main>
    <footer
      class="text-foreground-2 border-border flex items-center justify-between gap-3 rounded-b border-t px-6 py-4 text-xs"
    >
      <Text as="p">©{new Date().getFullYear()} Christian Penrod - All Rights Reserved</Text>
      <NavigationMenu.Root>
        <NavigationMenu.Link href="/">Home</NavigationMenu.Link>
        <NavigationMenu.Link href="/blog" class="mr-2">Blog</NavigationMenu.Link>
      </NavigationMenu.Root>
    </footer>
  </body>
</html>
