---
import favicon from '@/assets/favicon.webp';
import ogDefault from '@/assets/og.webp';
import Anchor from '@/components/anchor.astro';
import Socials from '@/components/socials.astro';
import '@fontsource/maitree';
import '@fontsource/maitree/300.css';
import { twJoin } from 'tailwind-merge';

type Props = { title?: string; description?: string; og?: string };

const {
  title = 'Christian Penrod | Front-End Web Developer',
  description = 'Developing for the web since 2015, based in Pittsburgh PA.',
  og = ogDefault.src,
} = Astro.props;
---

<html lang="en" class="ml-[calc(100vw-100%)]">
  <head>
    <title>{title}</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="title" content={title} />
    <meta name="description" content={description} />
    <meta name="og:type" content="website" />
    <meta name="og:title" content={title} />
    <meta name="og:description" content={description} />
    <meta name="og:image" content={new URL(og, Astro.site)} />
    <meta name="og:image:alt" content={title} />
    <meta name="og:site_name" content={Astro.site} />
    <meta name="og:image:width" content="1280" />
    <meta name="og:image:height" content="675" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:creator" content={`@${import.meta.env.USERNAME}`} />
    <meta name="twitter:title" content={title} />
    <meta name="twitter:description" content={description} />
    <meta name="twitter:image" content={new URL(og, Astro.site)} />
    <link rel="icon" type="image/svg+xml" href={favicon.src} />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <link href={new URL(Astro.url.pathname, Astro.site)} rel="canonical" />
  </head>
  <body
    class={twJoin(
      'mx-auto flex min-h-screen max-w-screen-lg flex-col bg-1 text-sm',
      'text-1 px-fluid-5 selection:bg-brand selection:bg-opacity-10',
    )}
  >
    <header class="flex items-center gap-4 py-4">
      <a href="/" class="mr-auto h-7 w-7" aria-label="Home">
        <img
          src={favicon.src}
          width={favicon.width}
          height={favicon.height}
          alt="Home"
          aria-hidden
        />
      </a>
      <nav>
        <ul class="flex items-center gap-4 text-2 text-xs">
          <li><Anchor href="/blog">Blog</Anchor></li>
          <li><Anchor href="/career">Career</Anchor></li>
          <li><Anchor href={import.meta.env.GITHUB} nostyle>Github</Anchor></li>
          <li><Anchor href={import.meta.env.EMAIL} nostyle>Email</Anchor></li>
        </ul>
      </nav>
    </header>
    <main class="mb-fluid-5 flex-1 motion-safe:animate-fade-in"><slot /></main>
    <footer class="mx-auto flex flex-col items-center p-2 text-center text-xs">
      <Socials />
      <p class="mt-1 font-1">Powered by Astro on Vercel</p>
      <p class="font-1">© {new Date().getFullYear()} Christian Penrod</p>
    </footer>
  </body>
</html>
