---
import favicon from '@/assets/favicon.webp';
import ogDefault from '@/assets/og.webp';
import Contact from '@/components/contact.astro';
import Link from '@/components/ui/link.astro';
import Separator from '@/components/ui/separator.astro';
import '@fontsource/inter';
import { ViewTransitions, fade } from 'astro:transitions';
import { Home } from 'lucide-astro';
import { twJoin } from 'tailwind-merge';

type Props = { title?: string; description?: string; og?: string };

const {
  title = 'Christian Penrod | Front-End Web Developer',
  description = 'Developing for the web since 2015, based in Pittsburgh PA.',
  og = ogDefault.src,
} = Astro.props;
---

<html
  lang="en"
  transition:animate={fade({ duration: 150 })}
  class="ml-[calc(100vw-100%)] scroll-pt-10 bg-2 bg-noise text-1 selection:bg-3"
>
  <head>
    <title>{title}</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="title" content={title} />
    <meta name="description" content={description} />
    <meta name="og:type" content="website" />
    <meta name="og:title" content={title} />
    <meta name="og:description" content={description} />
    <meta name="og:image" content={new URL(og, Astro.site)} />
    <meta name="og:image:alt" content={title} />
    <meta name="og:site_name" content={Astro.site} />
    <meta name="og:image:width" content="1280" />
    <meta name="og:image:height" content="675" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:creator" content={`@${import.meta.env.USERNAME}`} />
    <meta name="twitter:title" content={title} />
    <meta name="twitter:description" content={description} />
    <meta name="twitter:image" content={new URL(og, Astro.site)} />
    <link rel="icon" type="image/svg+xml" href={favicon.src} />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <link href={new URL(Astro.url.pathname, Astro.site)} rel="canonical" />
    <ViewTransitions />
  </head>
  <body class="p-4 text-sm">
    <div
      class={twJoin(
        'mx-auto flex min-h-[calc(100vh-2.125rem)] max-w-screen-xl',
        'flex-col rounded border bg-1 px-fluid-4 py-4',
      )}
    >
      <header class="flex items-center gap-4 text-xxs">
        <Link href="/" aria-label="Home" class="rounded border bg-2 p-1 text-2">
          <Home size={14} aria-hidden />
        </Link>
        <nav class="ml-auto">
          <ul class="flex gap-4">
            <li><Link href="/blog">Blog</Link></li>
            <li><Link href="/career">Career</Link></li>
          </ul>
        </nav>
        <Contact />
      </header>
      <main class="mb-fluid-6 flex-1"><slot /></main>
      <footer class="mx-auto w-full max-w-screen-lg">
        <Separator />
        <div class="flex justify-between px-2 pt-4 text-xxs text-2">
          <p>©{new Date().getFullYear()} Christian Penrod - All Rights Reserved</p>
          <nav>
            <ul class="flex gap-4">
              <li><Link href="/">Home</Link></li>
              <li><Link href="/blog">Blog</Link></li>
              <li><Link href="/career">Career</Link></li>
            </ul>
          </nav>
        </div>
      </footer>
    </div>
  </body>
</html>
