---
import favicon from '@/assets/favicon.webp';
import ogDefault from '@/assets/og.webp';
import Button, { buttonVariants } from '@/components/ui/button.astro';
import Link from '@/components/ui/link.astro';
import * as NavigationMenu from '@/components/ui/navigation-menu';
import Text from '@/components/ui/text.astro';
import '@fontsource/inter/400.css';
import '@fontsource/inter/500.css';
import '@fontsource/inter/700.css';
import { ThemeSwitch } from 'astro-color-scheme';
import type { HTMLAttributes } from 'astro/types';
import { ViewTransitions } from 'astro:transitions';
import { Github, Linkedin, MoonStar, Sun, Twitter } from 'lucide-astro';
import { twMerge } from 'tailwind-merge';

type Props = HTMLAttributes<'main'> & { title?: string; description?: string; og?: string };

const {
  title = 'Christian Penrod | Front-End Web Developer',
  description = 'Developing for the web since 2015, based in Pittsburgh PA.',
  og = ogDefault.src,
  class: className,
  ...props
} = Astro.props;
---

<html lang="en" class="bg-2 text-1 ml-[calc(100vw-100%)] antialiased sm:p-4">
  <head>
    <title>{title}</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="title" content={title} />
    <meta name="description" content={description} />
    <meta name="og:type" content="website" />
    <meta name="og:title" content={title} />
    <meta name="og:description" content={description} />
    <meta name="og:image" content={new URL(og, Astro.site)} />
    <meta name="og:image:alt" content={title} />
    <meta name="og:site_name" content={Astro.site} />
    <meta name="og:image:width" content="1280" />
    <meta name="og:image:height" content="675" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:creator" content={`@${import.meta.env.USERNAME}`} />
    <meta name="twitter:title" content={title} />
    <meta name="twitter:description" content={description} />
    <meta name="twitter:image" content={new URL(og, Astro.site)} />
    <link rel="icon" type="image/svg+xml" href={favicon.src} />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <link href={new URL(Astro.url.pathname, Astro.site)} rel="canonical" />
    <ViewTransitions />
  </head>
  <body class="bg-1 mx-auto flex min-h-[calc(100dvh-2rem)] max-w-screen-xl flex-col sm:rounded sm:border">
    <header class="bg-1 sticky top-1 flex h-12 w-full items-center rounded-t border-b px-4 text-xs">
      <Link href="/" aria-label="Home" class={buttonVariants({ size: 'icon', class: 'mr-auto' })} />
      <NavigationMenu.Root>
        <NavigationMenu.Link href="/blog">Blog</NavigationMenu.Link>
        <NavigationMenu.Dropdown>
          <NavigationMenu.DropdownTrigger>Socials</NavigationMenu.DropdownTrigger>
          <NavigationMenu.DropdownLinks class="[&_svg:first-child]:size-3.5 [&_svg:last-child]:ml-auto">
            <NavigationMenu.Link href={import.meta.env.GITHUB}><Github /> Github</NavigationMenu.Link>
            <NavigationMenu.Link href={import.meta.env.TWITTER}><Twitter /> Twitter/X</NavigationMenu.Link>
            <NavigationMenu.Link href={import.meta.env.LINKEDIN}> <Linkedin />LinkedIn</NavigationMenu.Link>
          </NavigationMenu.DropdownLinks>
        </NavigationMenu.Dropdown>
      </NavigationMenu.Root>
      <ThemeSwitch strategy="button">
        <Button size="icon" aria-label="Toggle theme">
          <MoonStar class="hidden animate-in motion-safe:fade-in-0 motion-safe:zoom-in-50 dark:block" />
          <Sun class="animate-in motion-safe:fade-in-0 motion-safe:zoom-in-50 dark:hidden" />
        </Button>
      </ThemeSwitch>
    </header>
    <main {...props} class={twMerge('flex-1 px-6 py-10 sm:px-8 sm:py-14', className)}><slot /></main>
    <footer class="text-2 flex items-center justify-between gap-3 rounded-b border-t px-6 py-4 text-xs">
      <Text as="p">©{new Date().getFullYear()} Christian Penrod - All Rights Reserved</Text>
      <NavigationMenu.Root>
        <NavigationMenu.Link href="/">Home</NavigationMenu.Link>
        <NavigationMenu.Link href="/blog" class="mr-2">Blog</NavigationMenu.Link>
      </NavigationMenu.Root>
    </footer>
  </body>
</html>
